.app {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background: #acb6e5;
  background: -webkit-linear-gradient(to right, #acb6e5, #86fde8);
  background: linear-gradient(to right, #acb6e5, #86fde8);

  .bingo-div {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 4px 12px;
  }
}

@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1400px) {
  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

button:focus {
  outline: none;
}
